<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>FourSquare | Explore more</title>

    <!-- Bootstrap CDN -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- link to semantic  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css">

    <!-- font awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- link to stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/index.css">

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">


  </head>


  <body>
    <!-- navbar -->
    <div class="ui borderless menu container-fluid">
      <div class="right menu">
        <a class="item" href="/login"> <i class="fa fa-sign-in" aria-hidden="true"></i> &nbsp Login</a>
        <a class="item" href="/register"> <i class="fa fa-user-plus" aria-hidden="true"></i> &nbsp Sign Up</a>
        <a class="item" href="/logout"> <i class="fa fa-sign-out" aria-hidden="true"></i> &nbsp Logout</a>
      </div>
    </div>
