<% include ./partials/loginHeader %>
<div class="container">
  <div class="pageTitle">
    <h1>Sign in</h1>

  </div>

  <!-- Dont forget to add required!!  -->



  <form class="ui form" action = "/login" method="post">
    <div class=" field ">
      <label>Username</label>
      <input class = "inputs" type="text" name="username" placeholder="Username">
    </div>
    <div class="field">
      <label>Password</label>
      <input class = "inputs" type="password" name="password" placeholder="Password">
    </div>
    <button class="large ui green basic button">Login</button>
  </form>
</div>

<% include ./partials/resultsFooter %>
